*, *::before, *::after {
    box-sizing: border-box;
}


/* PÁGINA PRINCIPAL (INDEX)*/

.fondoVideos{
    width: 100%;
    height: 500px;
    background-color: #ffa8a4;

}
.fondoVideos div{
    text-align: center;
    margin: auto;
    justify-content: center;
    
}
.divPrincipal{
    flex-direction: column;
    height: 300px;
    background-color: #fffac6;
}
.divPrincipal img{
    position: relative;
    width: 100%;
    }
    .divPrincipal p{
        color: white;
    position: absolute;
    margin-top: 450;
    }


    /* PÁGINA ANTE-PRODUCTO*/

    .textoDivPrincipal{
        font-size: larger;
        background-color: #0a87a7;
        color: #fffac6;
    }

    .textoGeneral{
        width: 75%;
        margin: auto;
    }
    .imageProduct{
        height: 90%;
        width: 100%;
    
    }
    .titulo{
        color: #0a87a7;
        font-size: 50px;
    }

    .logoGrande{
        width: 150px;
        height: 150px;
    }









/* PÁGINA DE PRODUCTO*/
.lub{
    width: 25%;
    flex-direction: column;
}
.lub:hover{
    transform: scale(1.15);
    transition: 1.2s;
    cursor: pointer;
}
.price{
    font-size: 30px;
    
   
}
.textProducts{
    height: 5%;
    width: 100%;

}
.name{
    font-size: 50px;
    background-color: #fffac6;
    color: #0a87a7;
    
}
.descProducts{
    color: #fffac6;
    width: 50%;  
    text-align: center;
    flex-direction: column;
}
.des{
    font-size: small;
}
.textProducts p{
    color: white;
    align-items: center;
    font-weight: bolder;
}
.over:hover{
    opacity: 0%;
    transition: 0.6s;
}
.imagesMain{
    margin-top: 50px;
    text-align: center;
     justify-content: center; 
     align-items: center;
     position: absolute;
}
.imagesMain img{
    width: 50%;
}
.otros{
    width: 50%;
    flex-direction: column;
    align-items: center
}
.otrosFoto a img{
    width: 100%;
}




/* PÁGINAS GENERALES */
.pagGeneral{
    width: 100%;
     height: 100vh; 
     flex-direction: column;
}
.pagGeneral div{
    height: 33vh; 
    width: 100%;
}
.general1{
    background-color: #fffac6
    
}
.general1:hover{
    background-color: #0a87a7;
    color: #fffac6;
    transition: .5s;
}
.enl1:hover{
    background-color: #0a87a7;
    color: #fffac6;
    transition: .5s;
}
.enl1{
    color: #0a87a7;
    font-size: 100px;
    margin-left: 30px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    background-color: #fffac6; 
    height: 100%;
}

.general2{
    background-color: #0a87a7;
    text-align: right !important; 
    
}
.enl2{
    color: #ffa8a4;
    font-size: 100px;
    text-decoration: none;
    margin-right: 30px;
    text-align: right;
    width: 100%;
    
}
.general2:hover{
    background-color: #ffa8a4;
    color: #0a87a7;
    transition: .5s;
}
.enl2:hover{
    background-color: #ffa8a4;
    color: #0a87a7;
    transition: .5s;
}

.general3{
    background-color: #ffa8a4
}
.enl3{
    color: #fffac6;
    text-decoration: none;
    font-size: 100px;
    margin-left: 30px;
    width: 100%;
}
.general3:hover{
    background-color: #fffac6;
    color: #ffa8a4;
    transition: .5s;
}
.enl3:hover{
    background-color: #fffac6;
    color: #ffa8a4;
    transition: .5s;
}




/* PÁGINA DE CONTACTO*/
.formulario {
    background-color: #0a87a7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fffac6;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: auto;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
}

.formulario input, .formulario textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario button {
    background-color: #ffa8a4;
    color: #fffac6;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0a87a7;
}

/* PÁGINA DE DISTRIBUIDORES*/
.divDistribuidores{
    width: 100%;
    height: 600px;
    background-color: #fffac6;

}
.distribuidores{
    margin-left: 20px;
    width: 33%;
    height: 100%;
    flex-direction: column;

}
.distribuidores h2{
    color: #0a87a7;
    margin: auto;
}
.distribuidores p{
    background-color: #0a87a7;
    color: #ffa8a4;
    margin: auto;
}


 /* MENÚS Y HEADER */
 .header{
    margin: 0;
    padding: 0;
    display: float;
}
.ul{
    list-style-type: none;
    
}
ul li{
    display: inline-block;
    padding: 0px;
    margin: 0;
    padding-left: 30px;
    text-align: center;
    color: #fffac6;
    
    
}
.menus{
    display: flex;
    list-style-type: none;
    text-align: center;
    
}
.menus a{
    color: #fffac6;
    text-decoration: none;
}
.divsmenus{
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    
}
.divizq{
    background-color: #ffa8a4;
    width: 75%;
}

.logos{
    width: 50px;
}
.buttonMenus{
    background-color: #0a87a7;
    color: #fffac6;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.header div{
    display: flex;
}


/* PRINCIPIO DEL DESPLEGABLE */
.dropbtn {
    background-color: #ffa8a4;
    color: #0a87a7;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  .dropbtn a{
    color: #0a87a7;
  }
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0a87a7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fffac6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      color: #0a87a7;
      background-color: #fffac6
      
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ffa8a4;
  }

  /* FOOTER */
  footer {
    background-color: #0a87a7;
    color: #fffac6;
    padding: 20px;
    text-align: center;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-links a {
    color: #fffac6;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  .footer-social-icons {
    margin-top: 20px;
  }

  .footer-social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #ffacac;
  }

  .footer-social-icons a:hover {
    color: #ffa8a4;
  }



  /* POLITICA DE PRIVACIDAD Y TERMINOS Y CONDICIONES */
  .priv{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fffac6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .enl{
    color: #0a87a7;
  }
  .enl:hover{
    text-decoration: underline;
  }

  .tpriv{
    color: #0a87a7;
    
  }


  /* ESTILOS GENERALES */
.mitadAncho{
    width: 50%;
}
  div{
    display: flex;
}
.full{
    height: 100%;
    width: 100%;
}
.right{
    text-align: right;
    background-color: #0a87a7; 
    width: 25%
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #0a87a7;
}
.todoAncho{
    width: 100%;
}
.textoAmarillo{
    color: #fffac6;
}

  
  